{% extends "auth/login.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
  <h3 class="account-title">Reset Password</h3>
  <div class="account-box">
    <div class="account-wrapper">
      <div class="account-logo">
        <a href=""><img src="{{url_for('static', filename='img/logo2.png')}}" alt="Picolina Technologies"></a>
      </div>
        {{ wtf.quick_form(form) }}
      </div>
  </div>

{% endblock %}
