{% extends "home/base.html" %}
{% block content %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- About city estate start -->
<div class="about-city-estate">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="properties-detail-slider simple-slider">
                    <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                        <div class="carousel-outer">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="{{url_for('static', filename='assets/img/aboutslider/about1.png')}}" class="img-preview img-responsive" alt="properties-1">
                                </div>
                                <div class="item">
                                    <img src="{{url_for('static', filename='assets/img/aboutslider/about2.png')}}" class="img-preview img-responsive" alt="properties-2">
                                </div>
                                <div class="item active left">
                                    <img src="{{url_for('static', filename='assets/img/aboutslider/about3.png')}}" class="img-preview img-responsive" alt="properties-3">
                                </div>
                                <div class="item next left">
                                    <img src="{{url_for('static', filename='assets/img/aboutslider/about4.png')}}" class="img-preview img-responsive" alt="properties-4">
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-custom" role="button" data-slide="prev">
                                <span class="slider-mover-left no-bg t-slider-r pojison" aria-hidden="true">
                                    <i class="fa fa-angle-left"></i>
                                </span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-custom" role="button" data-slide="next">
                                <span class="slider-mover-right no-bg t-slider-l pojison" aria-hidden="true">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Welcome to Lescho Deos Cordes</h3>
                    <h5>Is a real estate services firm focused on delivering high quality and customized services to individuals, the private sector and government clients in Kenya.</h5>
                    <p>
                        The firm, duly incorporated under the companies Act Cap 486 in 2015, began operations with a team of only four members of staff but has now grown to over fifty and the initial five clients have multiplied many times over.
                    </p>
                    <p>
                        Today, the company has made its presence strongly felt in the Kenyan property market and can with certainty declare itself a market leader. The firm offers a wide scope of real estate services, particularly specializing in real estate consultancy, management and sale of residential properties and a variety of commercial properties in Nairobi, Mombasa and East African region.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About city estate end -->

<!-- Counters strat -->
<div class="counters overview-bgi">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <i class="flaticon-tag"></i>
                    <h1 class="counter">967</h1>
                    <p>Listings For Sale</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <i class="flaticon-symbol-1"></i>
                    <h1 class="counter">1276</h1>
                    <p>Listings For Rent</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <i class="flaticon-people"></i>
                    <h1 class="counter">396</h1>
                    <p>Agents</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow">
                <div class="counter-box">
                    <i class="flaticon-people-1"></i>
                    <h1 class="counter">177</h1>
                    <p>Buyers</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters end -->
<!-- About Mission Statement -->
<div class="about-city-estate">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3 class="mission-header">Mission Statement</h3>
                    <p>
                        The mission of Lescho Deos Cordes is to be the most successful real estate firm in the World. The  Company Real Estate incorporates proven, professional state of-the-art techniques specializing in the marketing, listing and selling of new and resale luxury homes, residential communities, condominiums, home sites, undeveloped land and commercial and investment opportunities.
                    </p>
                    <p>
                        Lescho Deos Cordes company ltd maintains a full-time staff of well-trained real estate professionals who continually strive to provide top quality service for their individual clients and customers. Lescho Deos Cordes company ltd is a creative, innovative and people-oriented organization providing individual opportunity, personal satisfaction and rewarding challenges to all members of the firm.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3 class="mission-section">Mission</h3>
                    <p>
                        The Lescho Deos Cordes company ltd’s mission is to create wealth  and cultivate community.
                        Our concept of community transcends  selling real estate, we support We pledge to be in constant communication with our clients, keeping them fully informed throughout the entire buying or selling process and maintenance of their property.
                    </p>
                    <p>
                        We believe that if you’re not left with an unforgettable experience, we are dissatisfied. We measure success through the satisfaction of our clients. When you are happy satisfied with our services we have achieved our goal. We are tireless champions for our client community.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Mission Statement end -->
<!-- About Mission Statement -->
<div class="about-estate">
<div class="container-fluid vision-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Vision</h3>
                    <p>
                        To be the real estate team of choice for buyers, sellers, Realtors, and highly talented professionals who value relationships over transactions, superior work, and community impact.
                    </p>
                    <h3>Values</h3>
                    <p>
                        <ul>
                            <li>• Honesty</li>
                            <li>• Quality</li>
                            <li>• Learning-Based</li>
                            <li>• Professionalism</li>
                            <li>• Intelligence</li>
                            <li>• Growth</li>
                            <li>• Efficiency</li>
                        </ul>
                    </p>
                    <h3>Beliefs</h3>
                    <p>
                        <ul>
                            <li>• Ethics. Do the right thing – always.</li>
                            <li>• Quality matters most. Quantity will always be sacrificed in order to provide quality service at the highest level.</li>
                            <li>• Growth Mindset. There is always room to grow and refine. We never stop growing and learning.</li>
                            <li>• First class service. Our clients deserve the best. We deliver the type of service that will make our clients swoon – professionally, ahead of promised timelines, and with a smile!</li>
                            <li>• Relationships are the core of good business. We view each transaction as an opportunity to build a life-long relationship.</li>
                            <li>• Efficiency. We will always find the way to do the most we possibly can for our clients – leveraging technology, new ideas, and support staff – so that your real estate transaction will be as easy and smooth as humanly possible.</li>
                        </ul>
                    </p>
                    <h3>Perspective</h3>
                    <p>
                        We seek to run a high performance real estate team that benefits our clients, our community, and eventually the world as a whole. We value family, spirituality, and giving back to those in need; we have designed our lives and business around this philosophy.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
             <div class="col-sm-12 col-pad wow fadeInLeft delay-04s">
                <div class="category">
                    <div class="category_bg_box-building category_long_bg cat-4-bg-big-building">
                        <div class="category-overlay">
                            <div class="category-content">
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- About Mission Statement end -->

{% endblock %}
