<!DOCTYPE html>
<html lang="zxx">
{% block header %}
<head>
    <title>Lescho Deos Cordes - Real Estate Services Firm </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/animate.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/bootstrap-submenu.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/leaflet.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/map.css')}}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/fonts/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/fonts/linearicons/style.css')}}">
    <link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='assets/css/jquery.mCustomScrollbar.css')}}">
    <link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='assets/css/dropzone.css')}}">
    <link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='assets/css/magnific-popup.css')}}">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/style.css')}}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{{url_for('static', filename='assets/css/skins/default.css')}}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/img/favicon.ico')}}" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/ie10-viewport-bug-workaround.css')}}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script type="text/javascript" src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{url_for('static', filename='assets/js/ie-emulation-modes-warning.js')}}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5shiv.min.js"></script>
    <script type="text/javascript" src="js/respond.min.js"></script>
    <![endif]-->
</head>
{% endblock %}
<body>

<div class="page_loader"></div>

<!-- Top header start -->

<!-- Top header end -->

<!-- Main header start -->
<header class="main-header">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="logo">
                    <img src="{{url_for('static', filename='assets/img/logos/logo.png')}}" alt="logo">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" role="navigation" aria-expanded="true" id="app-navigation">
                <ul class="nav navbar-nav">
                    <li class="nav-item {%- if request.path== url_for('home.index') %} active {% endif %}">
                    	<a href="{{ url_for('home.index') }}">Home</a>
                    </li>
                    <li class="nav-item {%- if request.path== url_for('home.properties_search') %} active {% endif %}">
                    	<a href="{{ url_for('home.properties_search') }}"> Property Search</a>
                    </li>
                    <li class="nav-item {%- if request.path== url_for('home.about_us') %} active {% endif %}">
                    	<a href="{{ url_for('home.about_us') }}">About Us</a>
                    </li>
                    <li class="nav-item {%- if request.path== url_for('home.our_services') %} active {% endif %}">
                    	<a href="{{ url_for('home.our_services') }}">Our Services</a>
                    </li>
                    <li class="nav-item {%- if request.path== url_for('home.contact_us') %} active {% endif %}">
                    	<a href="{{ url_for('home.contact_us') }}">Contact Us</a>
                    </li>
                    {% if current_user.is_anonymous %}
                    <li class="nav-item">
                    	<a href="{{ url_for('auth.login') }}">Sign in</a>
                    </li>
                    {%else%}
                    <li class="nav-item">
                    	<a href="{{ url_for('main.index') }}">Dashboard</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Main header end -->

{% block content %}

{% endblock %}
<div class="clearfix"></div>

<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <h3>Looking To Sell Or Rent Your Property?</h3>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12">
                <a href="{{ url_for('home.contact_us') }}" class="btn button-md button-theme">Contact us</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro end -->
<!-- Footer start -->
<footer class="main-footer clearfix">
    <div class="container">
        <!-- Footer info-->
        <div class="footer-info">
            <div class="row">
                <!-- About us -->
                <div class="col-lg-5 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <div class="main-title-2">
                            <h1>Contact Us</h1>
                        </div>
                        <p>
                            Lescho Deos Cordes is a real estate services firm focused on delivering high quality and customized services to individuals, the private sector and government clients in Kenya.
                        </p>
                        <ul class="personal-info">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                P.O. Box 1366 – 00100 NAIROBI, KENYA.
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                Email:<a href="mailto:leschodeosltd@yahoo.com">leschodeosltd@yahoo.com</a>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                Phone: <a href="tel:+254 713 476 432">+254 713 476 432</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Links -->
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <div class="main-title-2">
                            <h1>Links</h1>
                        </div>
                        <ul class="links">
                            <li>
		                    	<a href="{{ url_for('home.index') }}">Home</a>
		                    </li>
		                    <li class="nav-item">
		                    	<a href="{{ url_for('home.properties_search') }}"> Property Search</a>
		                    </li>
		                    <li class="nav-item">
		                    	<a href="{{ url_for('home.about_us') }}">About Us</a>
		                    </li>
		                    <li class="nav-item">
		                    	<a href="{{ url_for('home.our_services') }}">Our Services</a>
		                    </li>
		                    <li class="nav-item">
		                    	<a href="{{ url_for('home.lescho_foundation') }}">Lescho Foundation</a>
		                    </li>
		                    <li class="nav-item">
		                    	<a href="{{ url_for('home.contact_us') }}">Contact Us</a>
		                    </li>
		                </ul>
                    </div>
                </div>
                <!-- Subscribe -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <div class="main-title-2">
                            <h1>Our Newslstter</h1>
                        </div>
                        <div class="newsletter clearfix">
                            <p>
                                Please don't hesitate to subscribe to our mailing list
                            </p>

                            <form action="#" method="post">
                                <div class="form-group">
                                    <input class="nsu-field btn-block" id="nsu-email-0" type="text" name="email" placeholder="Enter your Email Address" required="">
                                </div>
                                <div class="form-group mb-0">
                                    <button type="submit" class="button-sm button-theme btn-block">
                                        Subscribe
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->

<!-- Copy right start -->
<div class="copy-right">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-8 col-sm-12">
                &copy;  2018 <a href="#" target="_blank">Lescho Deos Cordes</a>. Real estate services firm focused on delivering high quality.
            </div>
            <div class="col-md-4 col-sm-12">
                <ul class="social-list clearfix">
                	<li>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                     <li>
                        <a href="#" class="youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Copy end right-->
{% block modal %}

{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='assets/js/jquery-2.2.0.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/bootstrap-submenu.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/rangeslider.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.mb.YTPlayer.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/wow.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/bootstrap-select.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.easing.1.3.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.scrollUp.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/leaflet.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/leaflet-providers.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/leaflet.markercluster.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/dropzone.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.filterizr.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/maps.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/app.js')}}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{url_for('static', filename='assets/js/ie10-viewport-bug-workaround.js')}}"></script>
<!-- Custom javascript -->
<script src="{{url_for('static', filename='assets/js/ie10-viewport-bug-workaround.js')}}"></script>
<script>
  function view(id) {
    var id=(id);
    $.ajax('{{ url_for('home.getproperty') }}?id=' + id).done(
      function(response) {
        var response=response.data;
        $('#carModalLabel').html(response.name);
        if(response.image != '')
          $('#property_image').html('<img src="/static/uploads/'+response.image+'" alt="">');
        var r=''
        if(response.mode == 'rent')
          var r = 'P/M'

        $('#property_price').html('KES '+response.price+' '+ r);
        $('#property_location').html(response.county +'<br>'+ response.location);

        var html = '<ul  class="bullets">';
        for (var i = 0; i < response.feature_name.length; i++) {
          html +='<li><i class="fa '+response.feature_icon[i]+' fa-lg"></i>'+response.feature_name[i]+'</li>';
        }
          html += '</ul>';
          document.getElementById("features").innerHTML = html;

      }
    );
  }
</script>
{% endblock %}
</body>
</html>
