{% extends "home/base.html" %}
{% block content %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Services</h1>
            </div>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
<!-- section-4 start -->

<div class="section-4 content">
<div class="container">
    <div class="main-title">
        <h4 class="services-header">
            Lescho Deos Cordes provides a wide array of real estate and property management services to individuals as well as private sector and government clients. The entire team is fully committed to providing the following services:
        </h4>
    </div>
</div>
    <div class="container wow fadeInUp delay-03s">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <i class="flaticon-people"></i>
                    </div>
                    <div class="detail-management">
                        <h3>Project Management</h3>
                        <p>
                            We offer highly professionalized services that fully respond to our clients’ needs related to land, real estate and construction industries. We are also responsible for controlling or coordinating the whole property development process, representing our clients to ensure increased efficiency, economy, communication and successful completion of projects.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <i class="flaticon-technology"></i>
                    </div>
                    <div class="detail-management">
                        <h3>Joint ventures</h3>
                        <p>
                            Lescho Deos Cordes  assists land owners to obtain finances to develop their land and provides advice to these clients on various joint venture agreement possibilities, current trends and the implications of costs of construction under our Joint Ventures Department.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-item hidden-mb-0">
                    <div class="icon">
                        <i class="flaticon-technology-1"></i>
                    </div>
                    <div class="detail-management">
                        <h3>Valuations</h3>
                        <p>
                            With the ever changing market, a new project must conform to market demands. We assist you in conducting valuation for your property or piece of land and advice you on steps you can include to increase the value of your property.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section-4 end -->
<!-- Counters strat -->
<div class="counters overview-bgi">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <i class="flaticon-tag"></i>
                    <h1 class="counter">967</h1>
                    <p>Listings For Sale</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <i class="flaticon-symbol-1"></i>
                    <h1 class="counter">1276</h1>
                    <p>Listings For Rent</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 bordered-right">
                <div class="counter-box">
                    <i class="flaticon-people"></i>
                    <h1 class="counter">396</h1>
                    <p>Agents</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow">
                <div class="counter-box">
                    <i class="flaticon-people-1"></i>
                    <h1 class="counter">177</h1>
                    <p>Buyers</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters end -->
<div class="clearfix"></div>
{% endblock %}
