{% extends "home/base.html" %}
{% block content %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Properties Search</h1>
            </div>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Search area start -->
<div class="search-area">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents ">
                <form method="GET">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="location" data-live-search="true" data-live-search-placeholder="Search value">
                                    <option>Location</option>
                                    {%  for location in search['locationlist'] %}
                                    <option value="{{ location.property_location }}">{{ location.property_location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <select id="property_type" class="selectpicker search-fields" name="property-types" data-live-search="true" data-live-search-placeholder="Search value">
                                    <option>Property Types</option>
                                    {%  for type in search['types'] %}
                                    <option value="{{ type.property_type_id }}">{{ type.property_types.property_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="{{search['maxval']}}" data-unit="KSH" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                            <div class="form-group">
                                <button class="search-button">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search area start -->

<div class="mb-70 recently-properties chevron-icon">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>&nbsp;</h1>
        </div>
        {% if propertylist %}
        <div class="row">
            <div class="carousel our-partners slide" id="ourPartners2">
                <div class="col-lg-12 mrg-btm-30">
                    <a class="right carousel-control" href="#ourPartners2" data-slide="prev"><i class="fa fa-chevron-left icon-prev"></i></a>
                    <a class="right carousel-control" href="#ourPartners2" data-slide="next"><i class="fa fa-chevron-right icon-next"></i></a>
                </div>
                <div class="carousel-inner">
                  {%  for property in propertylist %}
                    <div class="item {% if loop.index == 1 %}active{% endif %}">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- Property 2 start -->
                            <div class="property-2">
                                <!-- Property img -->
                                <div class="property-img">
                                    <div class="featured">
                                        Featured
                                    </div>
                                    <div class="price-ratings">
                                        <div class="price">{{ "%.2f"|format(property.property_price) }}{% if property.property_mode == 'rent' %} P/M {% endif %}</div>
                                        <div class="ratings">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                    <img src="{% if property.property_image %}{{url_for('static', filename='uploads/{}'.format(property.property_image))}}{% else %}{{url_for('static', filename='img/placeholder.png')}}{% endif %}" style="height:150px !important" alt="rp" class="img-responsive">
                                    <div class="property-overlay">
                                      <a class="overlay-link" onclick="view('{{ property.id}}')" data-toggle="modal" data-target="#myModal">
                                          <i class="fa fa-link"></i>
                                      </a>
                                        <div class="property-magnify-gallery">
                                            <a href="{% if property.property_image %}{{url_for('static', filename='uploads/{}'.format(property.property_image))}}{% else %}{{url_for('static', filename='img/placeholder.png')}}{% endif %}" class="overlay-link">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- content -->
                                <div class="content">
                                    <!-- title -->
                                    <h4 class="title">
                                        <a href="#">{{property.property_name}}</a>
                                    </h4>
                                    <!-- Property address -->
                                    <h3 class="property-address">
                                        <a href="#">
                                            <i class="fa fa-map-marker"></i>{{property.county.county}}, {{property.property_location}}
                                        </a>
                                    </h3>
                                </div>
                                <!-- Facilities List -->
                                <ul class="facilities-list clearfix">
                                  {% for feature in property.property_features %}
                                  <li>
                                      <i class="fa {{feature.feature_icon}}"></i>
                                      <span>{{feature.feature_name}}</span>
                                  </li>
                                  {% endfor %}
                                </ul>
                            </div>
                            <!-- Property 2 end -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No properties found!!
        </div>
        {% endif %}
    </div>
</div>
<!-- Partners block end -->
    </div>
</div>
<!-- Properties details page end -->
{% endblock %}

{% block modal %}
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carModalLabel">

                </h5>
                <p id="property_location">

                </p>
                <span class="ratings">
                    <i class="fa fa-star s1 active" data-score="1"></i>
                    <i class="fa fa-star s2 active" data-score="2"></i>
                    <i class="fa fa-star s3 active" data-score="3"></i>
                    <i class="fa fa-star s4 active" data-score="4"></i>
                    <i class="fa fa-star s5 active" data-score="5"></i>
                </span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row modal-raw">
                    <div class="col-lg-5 modal-left">
                        <div class="modal-left-content">
                            <div class="bs-example" data-example-id="carousel-with-captions">
                                <div class="carousel slide" id="properties-carousel" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div id="property_image" class="item active">
                                            <img  src="{{url_for('static', filename='img/placeholder.png')}}" alt="best-properties">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 modal-right">
                        <div class="modal-right-content bg-white">
                            <strong id="property_price" class="price">

                            </strong>
                            <section>
                                <h3>Features</h3>
                                <div id="features" class="features">

                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
