{% extends "auth/login.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
  <h3 class="account-title">Register</h3>
  <div class="account-box">
    <div class="account-wrapper">
      <div class="account-logo">
        <a href="#"><img src="{% if g.images %}{{url_for('static', filename='uploads/{}'.format(g.images.logo))}}{% else %}{{url_for('static',filename='img/logo2.png')}}{% endif %}" alt="Skye Technologies"></a>
      </div>
        {{ wtf.quick_form(form) }}
      </div>
  </div>

{% endblock %}
