a:hover {
    text-decoration: none;
}

.button-theme {
    background: #2d358e;
    border: 2px solid #2d358e;
}

.button-theme:hover {
    background: #84ad1d;
    border: 2px solid #84ad1d;
}

#page_scroller {
    background: #2d358e;
}

.overlay-link:hover{
    background: #2d358e;
    border:2px solid #2d358e;
}

.contact-2 .contact-details .media .media-left i {
    color: #2d358e;
    border: 1px dashed #2d358e;
}

.property-content .title a{
    color: #2d358e;
}

.setting-button{
    background: #2d358e;
}

.option-panel h2{
    color: #2d358e;
}

.list-inline-listing .active{
    background: #2d358e;
    border: solid 2px #2d358e;
}

.list-inline-listing li:hover{
    background: #2d358e;
    border: solid 2px #2d358e;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    border: 2px solid #2d358e;
}

input[type=checkbox]:checked + label:before {
    color: #2d358e;
}

.out-line-btn{
    border: solid 2px #2d358e;
    color: #2d358e;
}

.out-line-btn:hover{
    border: solid 2px #2d358e;
    background: #2d358e;
    color: #fff;
}

.property-content .facilities-list li i{
    color: #2d358e;
}

.panel-box .panel-heading .panel-title a i{
    color: #2d358e;
}

.properties-amenities ul li i {
    color: #2d358e;
}

.properties-condition ul li i {
    color: #2d358e;
}

.banner-detail-box h3{
    color: #2d358e;
}

.border-button-theme {
    border: 2px solid #2d358e;
    color: #2d358e;
}

.border-button-theme:hover {
    background: #2d358e;
    color: #fff !important;
}

.theme-tabs .nav-tabs > li > a {
    background: #2d358e;
}

.theme-tabs .nav-tabs > li.active > a,
.theme-tabs .nav-tabs > li > a:hover {
    color: #2d358e; !important;
}

.theme-tabs .nav-tabs > li > a::after {
    background: #2d358e;
}

.theme-tabs .tab-nav > li > a::after {
    background: #2d358e none repeat scroll 0% 0%;
}

.rightside-navbar li .button {
    color: #2d358e !important;
    border: 1px solid #2d358e !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    border-color: #2d358e;
    border-bottom: transparent;
}

.rightside-navbar li .button:hover {
    background: #2d358e !important;
}

.modal-right-content .price{
    color: #2d358e;
}

.search-button {
    background: #2d358e;

}

.modal-right-content .bullets li i{
   color: #2d358e;
}

.modal-left-content .control {
    background: #2d358e;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #2d358e !important;
    border-top: solid 5px #2d358e !important;
}

.main-header .navbar-default .nav > li > a:hover {
   color: #2d358e;
    border-top: solid 5px #2d358e;
}

.intro-section {
    background: #2d358e;
}

.search-button:hover {
    color: #fff;
    background: #2d358e;
}

.panel-box .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: #2d358e;
    color: #fff;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.15);
}

.properties-panel-box .nav-tabs>li>a:hover {
    color: #fff;
    background: #2d358e;
}

.service-item .detail {
    border-top: solid 3px #2d358e;
}

.heading-properties p i{
    color: #2d358e;
    margin-right: 5px;
}

.heading-properties h5{
    color: #2d358e;
}

.heading-properties h3 span{
    color: #2d358e;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color: #2d358e;
}

.bootstrap-select .dropdown-menu li a {
    color: #2d358e;
}

.bootstrap-select .dropdown-menu li a:hover {
    background: #2d358e;
}

.bootstrap-select .dropdown-menu > .active > a,
.bootstrap-select .dropdown-menu > .active > a:focus,
.bootstrap-select .dropdown-menu > .active > a:hover {
    color: #2d358e;
}

.for-sale {
    background: #2d358e;
}

.our-service .content i {
    color: #2d358e;
}

.our-service .content h4 {
    color: #2d358e;
}

.service-item .icon {
    color: #2d358e;
}

.agent-1 .agent-content h5 a:hover{
    color: #2d358e;
}

.view-all ul li a:hover{
   background: #2d358e;
    color: #fff;
}

.property-2 .content .title a{
    color: #2d358e;
}

.property-2 .facilities-list li i{
    color: #2d358e;
}

.property-2 .featured{
    background: #2d358e;
}

.dropdown-menu>li>a:hover {
    color: #2d358e;
    border-left: solid 5px #2d358e;
}

.option-bar .heading-icon{
    background: #2d358e;
}

.change-view-btn {
    color: #2d358e;
    border: solid 1px #2d358e;
}

.btn-outline{
    border: solid 1px #2d358e;
    color: #2d358e;
}

.btn-outline:hover{
    border: solid 1px #2d358e;
    background: #2d358e;
    color: #fff;
}

.popular .price-for-user{
    color: #2d358e;
}

.pricing-3.featured .listing-badges .featured{
    background: #2d358e;
}

.change-view-btn:hover {
    border: solid 1px #2d358e;
    background: #2d358e;
}

.active-view-btn {
    background: #2d358e;
    border: solid 1px #2d358e;
}

.active-view-btn:hover {
    border: solid 1px #2d358e;
    color: #2d358e;
}

.listing-properties-box .detail header.title a {
    color: #2d358e;
}

.listing-properties-box .detail .title::after {
    background-color: #2d358e;
}

.show-more-options, .show-more-options:hover {
    color: #2d358e;
}

.pagination > li > a:hover {
    background: #2d358e;
    border-color: #2d358e;
}

.pagination > .active > a {
    background: #2d358e;
    border-color: #2d358e;
}

.pagination > .active > a:hover {
    background: #2d358e;
    border-color: #2d358e;
}

.blog-box .detail .post-meta span a i {
    color: #2d358e;
}

.agent-2 .agent-content h1 a:hover{
    color: #2d358e;
}
.form-content-box .footer span a {
    color: #2d358e;
}

blockquote {
    border-left: 5px solid #2d358e;
}

.banner-search-box{
    border-top: solid 5px #2d358e;
}

.tab-style-2-line > .nav-tabs > li.active > a {
    border: solid 1px #2d358e !important;
    background: #2d358e;
}

.tab-style-2-line > .nav-tabs > li.active > a:hover {
    border: solid 1px #2d358e !important;
    background: #2d358e !important;;
}

.agent-2 .agent-content h3 a:hover{
    color: #2d358e;
}

.agent-detail h3 a:hover{
    color: #2d358e;
}

.address-list li span i{
    color: #2d358e;
}

.read-more{
    color: #2d358e;
}

.blog-box .date-box{
    background:  #2d358e;
}

.services-info i{
    color: #2d358e;
}

.services-info-3 i{
    color: #2d358e;
}

.archives ul li a:hover{
    color: #2d358e;
}
.range-slider .ui-slider .ui-slider-handle {
    background: #2d358e;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #2d358e;
}

.property-tag.featured {
    background: #2d358e;
}

.range-slider .ui-widget-header {
    background-color: #2d358e;
}

.category-posts ul li a:hover {
    color: #2d358e;
}

.tags-box ul li a:hover {
    border: 1px solid #2d358e;
    background: #2d358e;
}

.latest-tweet a {
    color: #2d358e;
}

.popular-posts .media-heading a {
    color: #2d358e;
}

.comment-meta-author a {
    color: #2d358e;
}

.comment-meta-reply a {
    background-color: #2d358e;
}

.contact-1 .contact-details .media .media-left i {
    color: #2d358e;
    border: 1px dashed #2d358e;
}

.about-text ul li i {
    color: #2d358e;
}

.breadcrumbs li a:hover {
    color: #2d358e;
}

.top-header ul li a:hover {
    color: #2d358e;
}

.helping-center .icon {
    color: #2d358e;
}

.main-title-2 h1 a:hover{
    color: #2d358e;
}

.option-bar h4 {
    color: #2d358e;
}

.attachments a:hover{
    color: #2d358e;
}

.additional-details-list li a:hover{
    color: #2d358e;
}

.user-account-box  .content ul li .active {
    color: #2d358e;
    border-left: solid 5px #2d358e;
}

.user-account-box  .content ul li a:hover{
    color: #2d358e;
    border-left: solid 5px #2d358e;
}

.photoUpload {
    background: #fff;
    color: #2d358e;
}

table.manage-table .title-container .title h4 a{
    color: #2d358e;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #2d358e;
    background-color: transparent;
}

table.manage-table .title-container .title span i{
    color: #2d358e;
    margin-right: 5px;
}

.panel-box span a{
    color: #2d358e;
}

table.manage-table td.action a:hover{
    color: #2d358e;
}

.typography-page mark.color {
    background-color: #2d358e;
}

.list-3 li:before, .list-2 li:before, .list-1 li:before {
    color: #2d358e;
}

.numbered.color.filled ol > li::before {
    border: 1px solid #2d358e;
    background-color: #2d358e;
}

.numbered.color ol > li::before {
    border: 1px solid #2d358e;
    color: #2d358e;
}

.map-marker:hover {
    background-color: #2d358e;
    cursor: pointer;
}
.map-marker:hover:before {
    border-color: #2d358e transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color: #2d358e;
}
.map-marker.featured:hover:before {
    border-color: #2d358e transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid #2d358e;
}

.marker-active .map-marker {
    background-color: #2d358e;
}
.marker-active .map-marker:before {
    border-color: #2d358e transparent transparent transparent;
}

.map-properties .address i{
    color: #2d358e;
}

.map-properties-btns .border-button-theme{
    color: #2d358e; !important;
}

.map-properties-btns .border-button-theme:hover{
    color: #fff !important;
}
.map-properties .map-content h4 a{
    color: #2d358e;
}

.dropzone-design:hover {
    border: 2px dashed #2d358e;
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background: #2d358e;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color: #2d358e;
        color: #fff! important;
    }

    .main-header .navbar-default .nav > li > a:hover {
        background: #2d358e;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #2d358e; !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }
}