{% extends "admin/base.html" %}
{% block content %}
<div class="content container-fluid">
<div class="row">
  <div class="col-sm-8">
    <h4 class="page-title">Add consultancy service types</h4>
  </div>
</div>
<form method="post" enctype="multipart/form-data">
  {{form.hidden_tag()}}
  <div class="card-box">
    <div class="row" style="height:250px">
      <div class="col-md-12">
        <div class="profile-img-wrap" style="height:200px;width:200px">
          <img style="height:200px;width:200px"  class="inline-block" src="{{url_for('static', filename='img/user.jpg')}}" alt="user">
          <div class="fileupload btn btn-default">
            <span class="btn-text">add</span>
            {{form.consultancy_image(class='upload')}}
            {%for error in form.consultancy_image.errors%}
            <span style="color:red">{{error}}</span>
            {% endfor %}
          </div>
        </div>
        <div class="profile-basic">
          <div class="row">
            <div class="col-md-6">
              <div style="margin-top:70px" class="form-group form-focus">
                <label class="control-label">Consultant Name</label>
            {{form.consultancy_name(class='form-control')}}
            {%for error in form.consultancy_name.errors%}
            <span style="color:red">{{error}}</span>
            {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="profile-basic" >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-focus">
                <label class="control-label">&nbsp;</label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="text-center m-t-20">
    {{form.submit(class='btn btn-primary')}}
  </div>
</form>
</div>
{% endblock %}
