{% extends "admin/base.html" %}
{% block content %}
  <div class="content container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="page-title">Add Tenant</h4>
      </div>
    </div>
    <form method="post" enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <div class="card-box">
        <h3 class="card-title">Basic Informations</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-img-wrap">
              <img class="inline-block" src="{{url_for('static', filename='img/user.jpg')}}" alt="user">
              <div class="fileupload btn btn-default">
                <span class="btn-text">add</span>
                {{form.image(class='upload')}}
                {%for error in form.image.errors%}
                <span style="color:red">{{error}}</span>
                {% endfor %}
              </div>
            </div>
            <div class="profile-basic">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-focus select-focus">
                    <label class="control-label">House</label>
                    {{form.house(class='form-control floating')}}
                    {%for error in form.house.errors%}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-focus">
                    <label class="control-label">House no</label>
                    {{form.house_no(class='form-control floating')}}
                    {%for error in form.house_no.errors%}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-focus">
                    <label class="control-label">First Name</label>
                    {{form.first_name(class='form-control floating')}}
                    {%for error in form.first_name.errors%}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-focus">
                    <label class="control-label">Last Name</label>
                    {{form.last_name(class='form-control floating')}}
                    {%for error in form.last_name.errors%}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-focus">
                    <label class="control-label">Birth Date</label>
                    <div class="cal-icon">{{form.dob(class='form-control floating datetimepicker')}}
                    {%for error in form.dob.errors%}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                  </div>
                </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-focus select-focus">
                    <label class="control-label">Gender</label>
                    {{form.gender(class='form-control floating')}}
                    {%for error in form.gender.errors%}
                    <span style="color:red">{{error}}</span>
                    {% endfor %}
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-box">
        <h3 class="card-title">Contact Informations</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">County</label>
              {{form.county(class='form-control floating')}}
              {%for error in form.county.errors%}
              <span style="color:red">{{error}}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Town</label>
              {{form.town(class='form-control floating')}}
              {%for error in form.town.errors%}
              <span style="color:red">{{error}}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Email</label>
              {{form.email(class='form-control floating')}}
              {%for error in form.email.errors%}
              <span style="color:red">{{error}}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Phone Number</label>
              {{form.phone_number(class='form-control floating')}}
              {%for error in form.phone_number.errors%}
              <span style="color:red">{{error}}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="text-center m-t-20">
        {{form.submit(class='btn btn-primary btn-lg')}}
      </div>
    </form>
  </div>
{% endblock %}
