{% extends "admin/base.html" %}
{% block content %}
<div class="content container-fluid">
<div class="row">
  <div class="col-sm-8">
    <h4 class="page-title">Add Construction materials</h4>
  </div>
</div>
<form method="post" enctype="multipart/form-data">
  {{form.hidden_tag()}}
  <div class="card-box">
    <h3 class="card-title">Construction materials Details</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="profile-img-wrap">
          <img class="inline-block" src="{{url_for('static', filename='img/user.jpg')}}" alt="user">
          <div class="fileupload btn btn-default">
            <span class="btn-text">add</span>
            {{form.construction_image(class='upload')}}
            {% for error in form.construction_image.errors %}
            <span style="color:red">{{error}}</span>
            {% endfor %}
          </div>
        </div>
        <div class="profile-basic">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-focus">
                <label class="control-label">Construction materials Name</label>
                {{form.construction_name(class='form-control floating')}}
                {% for error in form.construction_name.errors%}
                <span style="color:red">{{error}}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-focus">
                <label class="control-label">Price</label>
                {{form.construction_price(class='form-control floating')}}
                {%for error in form.construction_price.errors%}
                <span style="color:red">{{error}}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="fform-group form-focus">
                <label class="control-label">location</label>
                {{form.construction_location(class='form-control floating')}}
                {%for error in form.construction_location.errors%}
                <span style="color:red">{{error}}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center m-t-20">
    {{form.submit(class='btn btn-primary btn-lg')}}
  </div>
</form>
</div>
{% endblock %}
