{% extends "admin/base.html" %}
{% block content %}
<div class="content container-fluid">
<div class="row">
  <div class="col-sm-8">
    <h4 class="page-title">Edit Profile</h4>
  </div>
</div>
<form>
  <div class="card-box">
    <h3 class="card-title">Basic Informations</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="profile-img-wrap">
          <img class="inline-block" src="{{url_for('static', filename='img/user.jpg')}}" alt="user">
          <div class="fileupload btn btn-default">
            <span class="btn-text">add</span>
            <input class="upload" type="file">
          </div>
        </div>
        <div class="profile-basic">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-focus">
                <label class="control-label">Property Name</label>
                <input type="text" class="form-control floating" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-focus select-focus">
                <label class="control-label">location</label>
                <select class="select form-control floating">
                  <option value="">Select Gendar</option>
                  <option value="">Male</option>
                  <option value="">Female</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-focus select-focus">
                <label class="control-label">Property Types</label>
                <select class="select form-control floating">
                  <option value="">Select Gendar</option>
                  <option value="">Male</option>
                  <option value="">Female</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive m-t-15">
    <table class="table table-striped custom-table">
      <thead>
        <tr>
          <th>Module Permission</th>
          <th class="text-center">Read</th>
          <th class="text-center">Write</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Projects</td>
          <td class="text-center">
            <i class="fa fa-pencil m-r-5"></i>
          </td>
          <td class="text-center">
            <input checked="" type="checkbox">
          </td>
        </tr>
        <tr>
          <td>Tasks</td>
          <td class="text-center">
            <i class="fa fa-pencil m-r-5"></i>
          </td>
          <td class="text-center">
            <input checked="" type="checkbox">
          </td>
        </tr>
        <tr>
          <td>Chat</td>
          <td class="text-center">
            <i class="fa fa-pencil m-r-5"></i>
          </td>
          <td class="text-center">
            <input checked="" type="checkbox">
          </td>
        </tr>
        <tr>
          <td>Estimates</td>
          <td class="text-center">
            <i class="fa fa-pencil m-r-5"></i>
          </td>
          <td class="text-center">
            <input checked="" type="checkbox">
          </td>
        </tr>
        <tr>
          <td>Invoices</td>
          <td class="text-center">
            <i class="fa fa-pencil m-r-5"></i>
          </td>
          <td class="text-center">
            <input checked="" type="checkbox">
          </td>
        </tr>
        <tr>
          <td>Timing Sheets</td>
          <td class="text-center">
            <i class="fa fa-pencil m-r-5"></i>
          </td>
          <td class="text-center">
            <input checked="" type="checkbox">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center m-t-20">
    <button class="btn btn-primary btn-lg" type="button">Save &amp; update</button>
  </div>
</form>
</div>
{% endblock %}
