{% extends "admin/base.html" %}
{% block content %}
<div class="content container-fluid">
   <div class="row">
     <div class="col-sm-4 col-xs-3">
       <h4 class="page-title">Construction Materials Types</h4>
     </div>
   </div>
   {% if construction_types %}
   {% if g.search_form %}
   <div class="row">
       <form class="navbar-form navbar-right" method="get" action="{{ url_for('main.search') }}">
           <div class="form-group">
               {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
               {{ g.search_form.table() }}
           </div>
       </form>
     </div>
       {% endif %}
   <div class="row staff-grid-row">
     {% for construction_type in construction_types %}
     <div id="del{{construction_type.id}}" class="col-md-4 col-sm-4 col-xs-6 col-lg-3">
       <div class="profile-widget">

         <img src="{% if construction_type.construction_image %}{{url_for('static', filename='uploads/{}'.format(construction_type.construction_image))}}{% else %}{{url_for('static', filename='img/placeholder.png')}}{% endif %} " width="200" height="150" alt="">
         <div class="dropdown profile-action">
           <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
           <ul class="dropdown-menu pull-right">
             {% if current_user.role.permissions.write_construction == True %}
             <li><a href="{{ url_for('main.edit_construction_materials_type',id=construction_type.id) }}"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
             {% endif %}
             {% if current_user.role.permissions.delete_construction == True %}
             <li><a href="#" onclick="delete_row('{{ construction_type.id }}','ConstructionType', '#del{{ construction_type.id }}')" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
             {% endif %}
           </ul>
         </div>
         <h4 class="user-name m-t-10 m-b-0 text-ellipsis">{{ construction_type.construction_name }}</h4>
         {% if current_user.role.permissions.read_construction == True %}
         <a href="{{ url_for('main.view_construction_materials', construction_name=construction_type.construction_name) }}" class="btn btn-default btn-sm m-t-10">View</a>
         {% endif %}
       </div>
     </div>
     {% endfor %}
   </div>
   <div class="row">
   <nav aria-label="...">
      <ul class="pager">
          <li class="previous{% if not prev_url %} disabled{% endif %}">
              <a href="{{ prev_url or '#' }}">
                  <span aria-hidden="true">&larr;</span> {{ _('Previous Page') }}
              </a>
          </li>
          <li class="next{% if not next_url %} disabled{% endif %}">
              <a href="{{ next_url or '#' }}">
                  {{ _('Next Page') }} <span aria-hidden="true">&rarr;</span>
              </a>
          </li>
      </ul>
  </nav>
 </div>
   {% else %}
    <div class="alert alert-warning" role="alert">
        No construction types found!!
    </div>
    {% endif %}
</div>
{% endblock %}
