{% extends "admin/base.html" %}
{% block content %}
<div class="content container-fluid">
<div class="row">
  <div class="col-sm-8">
    <h4 class="page-title">Add property type</h4>
  </div>
</div>
<form>
  <div class="card-box">
    <div class="row" style="height:250px">
      <div class="col-md-12">
        <div class="profile-img-wrap" style="height:200px;width:200px">
          <img style="height:200px;width:200px"  class="inline-block" src="{{url_for('static', filename='img/user.jpg')}}" alt="user">
          <div class="fileupload btn btn-default">
            <span class="btn-text">add</span>
            <input class="upload" type="file">
          </div>
        </div>
        <div class="profile-basic">
          <div class="row">
            <div class="col-md-6">
              <div style="margin-top:70px" class="form-group form-focus">
                <label class="control-label">Property Name</label>
                <input type="text" class="form-control floating" />
              </div>
            </div>
          </div>
        </div>
        <div class="profile-basic">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-focus">
                <label class="control-label">&nbsp;</label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="text-center m-t-20">
    <button class="btn btn-primary btn-lg" type="button">Save &amp; update</button>
  </div>
</form>
</div>
{% endblock %}
