{% extends "admin/base.html" %}
{% block content %}
<div class="content container-fluid">
<div class="row">
  <div class="col-sm-8">
    <h4 class="page-title">Edit Property</h4>
  </div>
</div>
<form method="post" enctype="multipart/form-data">
  {{form.hidden_tag()}}
  <div class="card-box">
    <h3 class="card-title">Property Details</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="profile-img-wrap">
          <img class="inline-block" src="{{url_for('static', filename='img/user.jpg')}}" alt="user">
          <div class="fileupload btn btn-default">
            <span class="btn-text">add</span>
            {{form.property_image(class='upload')}}
            {%for error in form.property_image.errors%}
            <span style="color:red">{{error}}</span>
            {% endfor %}
          </div>
        </div>
        <div class="profile-basic">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-focus">
                <label class="control-label">Property Name</label>
                {{form.property_name(class='form-control floating')}}
                {%for error in form.property_name.errors%}
                <span style="color:red">{{error}}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-focus">
                <label class="control-label">Price</label>
                {{form.property_price(class='form-control floating')}}
                {%for error in form.property_price.errors%}
                <span style="color:red">{{error}}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-focus select-focus">
                <label class="control-label">Mode</label>
                {{form.property_mode(class='form-control floating')}}
                {%for error in form.property_mode.errors%}
                <span style="color:red">{{error}}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-focus form-focus">
                <label class="control-label">Vacancies</label>
                {{form.property_vacancy(class='form-control floating')}}
                {%for error in form.property_vacancy.errors%}
                <span style="color:red">{{error}}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-focus select-focus">
                <label class="control-label">County</label>
                {{form.property_county(class='form-control floating')}}
                {%for error in form.property_county.errors%}
                <span style="color:red">{{error}}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-focus form-focus">
                <label class="control-label">location</label>
                {{form.property_location(class='form-control floating')}}
                {%for error in form.property_location.errors%}
                <span style="color:red">{{error}}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center m-t-20">
    {{form.submit(class='btn btn-primary')}}
  </div>
</form>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
   <script src="{{ url_for("static", filename="js/page.js") }}"></script>
   <script>
       var iconSelect;
       var selectedText;

       window.onload = function(){

           selectedText = document.getElementById('selected-text');

           document.getElementById('my-icon-select').addEventListener('changed', function(e){
              selectedText.value = iconSelect.getSelectedValue();
           });

           iconSelect = new IconSelect("my-icon-select");

           var icons = [];
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/1.png')}}', 'iconValue':'1'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/2.png')}}', 'iconValue':'2'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/3.png')}}', 'iconValue':'3'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/4.png')}}', 'iconValue':'4'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/5.png')}}', 'iconValue':'5'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/6.png')}}', 'iconValue':'6'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/7.png')}}', 'iconValue':'7'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/8.png')}}', 'iconValue':'8'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/9.png')}}', 'iconValue':'9'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/10.png')}}', 'iconValue':'10'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/11.png')}}', 'iconValue':'11'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/12.png')}}', 'iconValue':'12'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/13.png')}}', 'iconValue':'13'});
           icons.push({'iconFilePath':'{{url_for('static', filename='icons/14.png')}}', 'iconValue':'14'});

           iconSelect.refresh(icons);



       };

       </script>


{% endblock %}
