{% extends "admin/base.html" %}
{% block content %}
    <div class="content container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <h4 class="page-title">Edit Bill</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <form id="edit-form" class="add_form" method="post" action="" novalidate>
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Username <span class="text-danger">*</span></label>
                    {{ form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Role <span class="text-danger">*</span></label>
                    {{ form.role(class="form-control") }}
                    {% for error in form.role.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Phone Number</label>
                    {{ form.phone_number(class="form-control") }}
                    {% for error in form.phone_number.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="m-t-20 text-center">
                {{ form.submit(class="btn btn-primary") }}
              </div>
            </form>
            </div>
        </div>
{% endblock %}
