{% extends "admin/base.html" %}
{% block content %}
    <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="page-title">Financing</h4>
      </div>
      <div class="col-xs-8 text-right m-b-30">
        {% if current_user.role.permissions.create_financing == True %}
        <a href="#" class="btn btn-primary rounded pull-right" data-toggle="modal" data-target="#create_project"><i class="fa fa-plus"></i> Add Financing</a>
        {% endif %}
      </div>
    </div>
    {% if financing %}
    {% if g.search_form %}
    <div class="row">
        <form class="navbar-form navbar-right" method="get" action="{{ url_for('main.search') }}">
            <div class="form-group">
                {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                {{ g.search_form.table() }}
            </div>
        </form>
      </div>
        {% endif %}
    <div class="row">
      {% for finance in financing %}
      <div id="del{{finance.id}}" class="col-lg-3 col-sm-4">
        <div class="card-box project-box">
          <div class="dropdown profile-action">
            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <ul class="dropdown-menu pull-right">
              {% if current_user.role.permissions.write_financing == True %}
              <li><a href="#" onclick="edit_financing('{{ finance.id }}')" data-toggle="modal" data-target="#edit_project"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
              {% endif %}
              {% if current_user.role.permissions.delete_financing == True %}
              <li><a href="#" onclick="delete_row('{{ finance.id }}','Financing', '#del{{ finance.id }}')" data-toggle="modal" data-target="#delete_project"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
              {% endif %}
            </ul>
          </div>
          <h4 class="project-title"><a {% if current_user.role.permissions.read_financing == True %} href="{{ url_for('main.view_financing', id=finance.id) }}"{% endif %}>{{ finance.financing_name }}</a></h4>
          <p class="text-muted">{{ finance.financing_description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
    <nav aria-label="...">
       <ul class="pager">
           <li class="previous{% if not prev_url %} disabled{% endif %}">
               <a href="{{ prev_url or '#' }}">
                   <span aria-hidden="true">&larr;</span> {{ _('Previous Page') }}
               </a>
           </li>
           <li class="next{% if not next_url %} disabled{% endif %}">
               <a href="{{ next_url or '#' }}">
                   {{ _('Next Page') }} <span aria-hidden="true">&rarr;</span>
               </a>
           </li>
       </ul>
   </nav>
 </div>
    {% else %}
     <div class="alert alert-warning" role="alert">
         No financing found!!
     </div>
     {% endif %}
          </div>
<div id="create_project" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 class="modal-title">Add Financing</h4>
      </div>
      <div class="modal-body">
        <form id="create_financing" method="post">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Financier Name</label>
                {{ form.financing_name(class="form-control",id="financing_name") }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Description</label>
            {{ form.financing_description(rows="4",cols="5",class="form-control summernote",placeholder="Enter your message here",id="financing_description") }}
          </div>
          <div class="m-t-20 text-center">
            <button type="submit" class="btn btn-primary">Create Financing</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="edit_project" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 class="modal-title">Edit Financing</h4>
      </div>
      <div class="alerts"></div>
      <div class="modal-body">
        <form id="edit_financing" method="post">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Financier Name</label>
                {{ form.financing_name(class="form-control",id="financing_name") }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Description</label>
            {{ form.financing_description(rows="4",cols="5",class="form-control summernote",placeholder="Enter your message here",id="financing_description") }}
          </div>
          <div class="m-t-20 text-center">
            <button type="submit" class="btn btn-primary">Edit Financing</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
  $(document).ready(function() {
          var csrftoken = "{{ csrf_token() }}"
          $('#create_financing').submit(function(event) {
              var url = "{{ url_for('main.add_financing') }}";
          		 $.ajax({
          			 type 		: 'POST',
          			 url 		: url,
          			 data 		: $('#create_financing').serialize(),
                 async: false,
          		 }).done(function(data) {
          			 if(data.status == 1){
          				 alertify.success('financing added successfully')
          				 window.location.replace('{{ url_for('main.financing') }}');
          			 }else
          			 {
                   var responsedata=data.data;
                   		for (var data in responsedata) {
                   			if (responsedata.hasOwnProperty(data)) {
                   					$('#'+data).after('<span style="color:red">'+responsedata[data]+'</span>');
                   				}
                   			}
          			 }

          			 }).fail(function(data) {
          				 alertify.error('Error: Could not contact server.')
          			 });
          	event.preventDefault();
          });

          $('#edit_financing').submit(function(event) {
              var id = Session.get("id")
              var url = '/admin/edit_financing/'+id;
          		 $.ajax({
          			 type 		: 'POST',
          			 url 		: url,
          			 data 		: $('#edit_financing').serialize(),
                 async: false,
          		 }).done(function(data) {
          			 if(data.status == 1){
          				 alertify.success('financing edited successfully')
          				 window.location.replace('{{ url_for('main.financing') }}');
          			 }else
          			 {
                   var responsedata=data.data;
                   		for (var data in responsedata) {
                   			if (responsedata.hasOwnProperty(data)) {
                   					$('#'+data).after('<span style="color:red">'+responsedata[data]+'</span>');
                   				}
                   			}
          			 }

          			 }).fail(function(data) {
          				 alertify.error('Error: Could not contact server.')
          			 });
          	event.preventDefault();
          });
          $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken",csrftoken)
                }
            }
        })
      });
      function edit_financing(id) {
        $.ajax({
    	          type 		: 'GET',
    	          url 		: '/admin/edit_financing/'+id,
    	          dataType 	: 'json',
    	          encode 		: true
    	        }).done(function(response) {
    							if(response['status'] == 1){
                    $('input[name="financing_name"]').val(response.data.financing_name)
                    $("textarea").val(response.data.financing_description)
                    Session.set('id',response.data.id)
               }
    		}).fail(function() {
    			alertify.error('Error: Could not contact server.');
    		});

    }


  </script>
{% endblock %}
