{% extends "admin/base.html" %}
{% block content %}
<div class="content container-fluid">
      {% if current_user.role.role == 'tenant'%}
      {%if count_all['tenant'].rent_due >0 %}
      <div class="alert alert-danger" role="alert">
        you currently have rent arreas of ksh. {{ count_all['tenant'].rent_due }}
      </div>
      {%else%}
      <div class="alert alert-success" role="alert">
        Congratulations you have paid all your rent arreas. your overpayment is ksh. {{ count_all['tenant'].rent_due }}
      </div>
      {%endif%}
      {% else %}
        <div class="row">
          {% if current_user.role.permissions.read_property == True %}
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-cubes" aria-hidden="true"></i></span>
              <div class="dash-widget-info">
                <h3 id="quotations">{{count_all['property']}}</h3>
                <span>Properties</span>
              </div>
            </div>
          </div>
          {% endif %}
          {% if current_user.role.permissions.read_labour == True %}
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>
              <div class="dash-widget-info">
                <h3 id="invoices">{{count_all['labour']}}</h3>
                <span>Labour Skills</span>
              </div>
            </div>
          </div>
          {% endif %}
          {% if current_user.role.permissions.read_equipment == True %}
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
              <div class="dash-widget-info">
                <h3 id="bills">{{count_all['equipment']}}</h3>
                <span>Equipments</span>
              </div>
            </div>
          </div>
          {% endif %}
          {% if current_user.role.permissions.read_consultancy == True %}
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <div class="dash-widget-info">
                <h3 id="payments">{{count_all['consultancy']}}</h3>
                <span>Consultancy</span>
              </div>
            </div>
          </div>
          {% endif %}
        </div>

        <div class="row">
          {% if current_user.role.permissions.read_labour == True %}
          <div class="col-md-6">
            <div class="panel panel-table">
              <div class="panel-heading">
                <h3 class="panel-title">Labour</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table id="inv-table" class="table table-striped custom-table m-b-0">
                    <thead>
                      <tr>
                      <th>Labour name</th>
                      <th>Email</th>
                      <th>Phone Number</th>
                      <th>Gender</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for labour in tables.labour %}
                      <tr>
                        <td><a href="#">{{ labour.first_name }} {{ labour.last_name }}</a></td>
                        <td>
                          <h2><a href="#">{{ labour.email }}</a></h2>
                        </td>
                        <td>{{ labour.phone_number }}</td>
                        <td>{{ labour.gender}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="panel-footer">
                <a href="{{ url_for('main.view_labour_type') }}" class="text-primary">View all labour</a>
              </div>
            </div>
          </div>
          {% endif %}
          {% if current_user.role.permissions.read_consultancy == True %}
          <div class="col-md-6">
            <div class="panel panel-table">
              <div class="panel-heading">
                <h3 class="panel-title">Consultancy</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table id="pay-table" class="table table-striped custom-table m-b-0">
                    <thead>
                      <tr>
                      <th>Consultancy name</th>
                      <th>Email</th>
                      <th>Phone Number</th>
                      <th>Gender</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for consultancy in tables.consultancy %}
                      <tr>
                        <td><a href="#">{{ consultancy.first_name }} {{ consultancy.last_name }}</a></td>
                        <td>
                          <h2><a href="#">{{ consultancy.email }}</a></h2>
                        </td>
                        <td>{{ consultancy.phone_number }}</td>
                        <td>{{ consultancy.gender}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="panel-footer">
                <a href="{{ url_for('main.view_consultancy_services_type') }}" class="text-primary">View all consultancy</a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="row">
          {% if current_user.role.permissions.read_property == True %}
          <div class="col-md-6">
            <div class="panel panel-table">
              <div class="panel-heading">
                <h3 class="panel-title">Property</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table id="quo-table" class="table table-striped custom-table m-b-0">
                    <thead>
                      <tr>
                      <th>Property name</th>
                      <th>Price</th>
                      <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for property in tables.property %}
                      <tr>
                        <td><a href="#">{{ property.property_name }}</a></td>
                        <td>
                          <h2><a href="#">{{ "%.2f"|format(property.property_price) }}</a></h2>
                        </td>
                        <td>{{ property.property_location }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="panel-footer">
                <a href="{{ url_for('main.view_property_type') }}" class="text-primary">View all properties</a>
              </div>
            </div>
          </div>
          {% endif %}
          {% if current_user.role.permissions.read_equipment == True %}
          <div class="col-md-6">
            <div class="panel panel-table">
              <div class="panel-heading">
                <h3 class="panel-title">Equipments</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table id="bil-table" class="table table-striped custom-table m-b-0">
                    <thead>
                      <tr>
                      <th>Equipment name</th>
                      <th>Price</th>
                      <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for equipment in tables.equipment %}
                      <tr>
                        <td><a href="#">{{ equipment.equipment_name }}</a></td>
                        <td>
                          <h2><a href="#">{{ equipment.equipment_price }}</a></h2>
                        </td>
                        <td>{{ equipment.equipment_location }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="panel-footer">
                <a href="{{ url_for('main.view_equipment_type') }}" class="text-primary">View all equipments</a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
          {% endif %}
  </div>
{% endblock %}
