{% extends "admin/base.html" %}
{% block content %}
    <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="page-title">Projects</h4>
      </div>
      <div class="col-xs-8 text-right m-b-30">
        {% if current_user.role.permissions.create_projects == True %}
        <a href="#" class="btn btn-primary rounded pull-right" data-toggle="modal" data-target="#create_project"><i class="fa fa-plus"></i> Create Project</a>
        {% endif %}
      </div>
    </div>
    {% if projects %}
    {% if g.search_form %}
    <div class="row">
        <form class="navbar-form navbar-right" method="get" action="{{ url_for('main.search') }}">
            <div class="form-group">
                {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                {{ g.search_form.table() }}
            </div>
        </form>
      </div>
        {% endif %}
    <div class="row">
      {% for project in projects %}
      <div class="col-lg-3 col-sm-4">
        <div class="card-box project-box">
          <div class="dropdown profile-action">
            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <ul class="dropdown-menu pull-right">
              {% if current_user.role.permissions.write_projects == True %}
              <li><a href="#" onclick="edit_projects('{{ project.id }}')" data-toggle="modal" data-target="#edit_project"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
              {% endif %}
              {% if current_user.role.permissions.delete_projects == True %}
              <li><a href="#" onclick="delete_row('{{ project.id }}','Project', '#del{{ project.id }}')" data-toggle="modal" data-target="#delete_project"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
              {% endif %}
            </ul>
          </div>
          <h4 class="project-title"><a {% if current_user.role.permissions.read_financing == True %} href="{{ url_for('main.view_projects', id=project.id) }}"{% endif %}>{{project.project_name}}</a></h4>
          <p class="text-muted">{{ project.project_description }}</p>
          <div class="pro-deadline m-b-15">
            <div class="sub-title">
              Deadline:
            </div>
            <div class="text-muted">
              {{ moment(project.project_end_date).format("MMM Do YYYY") }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
    <nav aria-label="...">
       <ul class="pager">
           <li class="previous{% if not prev_url %} disabled{% endif %}">
               <a href="{{ prev_url or '#' }}">
                   <span aria-hidden="true">&larr;</span> {{ _('Previous Page') }}
               </a>
           </li>
           <li class="next{% if not next_url %} disabled{% endif %}">
               <a href="{{ next_url or '#' }}">
                   {{ _('Next Page') }} <span aria-hidden="true">&rarr;</span>
               </a>
           </li>
       </ul>
   </nav>
 </div>
    {% else %}
     <div class="alert alert-warning" role="alert">
         No projects found!!
     </div>
     {% endif %}
          </div>
<div id="create_project" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 class="modal-title">Create Project</h4>
      </div>
      <div class="modal-body">
        <form id="form-project" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Project Name</label>
                {{ form.project_name(class="form-control") }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Client</label>
                {{ form.project_client(class="form-control") }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Start Date</label>
                <div class="cal-icon">{{ form.project_start_date(class="form-control datetimepicker") }}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>End Date</label>
                <div class="cal-icon">{{ form.project_end_date(class="form-control datetimepicker") }}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Description</label>
            {{ form.project_description(rows="4",cols="5",class="form-control summernote",placeholder="Enter your message here") }}
          </div>
          <div class="form-group">
            <label>Upload Files</label>
            {{ form.project_image(class="form-control") }}
          </div>
          <div class="m-t-20 text-center">
            <button class="btn btn-primary">Create Project</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="edit_project" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 class="modal-title">Edit Project</h4>
      </div>
      <div class="modal-body">
        <form id="form-edit-project" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Project Name</label>
                {{ form.project_name(class="form-control") }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Client</label>
                {{ form.project_client(class="form-control") }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Start Date</label>
                <div class="cal-icon">{{ form.project_start_date(class="form-control datetimepicker") }}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>End Date</label>
                <div class="cal-icon">{{ form.project_end_date(class="form-control datetimepicker") }}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Description</label>
            {{ form.project_description(rows="4",cols="5",class="form-control summernote",placeholder="Enter your message here") }}
          </div>
          <div class="form-group">
            <label>Upload Files</label>
            {{ form.project_image(class="form-control") }}
          </div>
          <div class="m-t-20 text-center">
            <button class="btn btn-primary">Edit Project</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}\

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
        var csrftoken = "{{ csrf_token() }}"
        $('#form-project').submit(function(event) {
            var url = "{{ url_for('main.add_projects') }}";
            var formData = new FormData($(this)[0]);
             $.ajax({
               type 		: 'POST',
               url 		: url,
               data 		: formData,
               async: false,
               success: function (data) {
                 if(data.status == 1){
                   alertify.success(data.message)
                   window.location.replace('{{ url_for('main.projects') }}');
                 }else
                 {
                   var responsedata=data.data;
                      for (var data in responsedata) {
                        if (responsedata.hasOwnProperty(data)) {
                            $('#'+data).after('<span style="color:red">'+responsedata[data]+'</span>');
                          }
                        }
                 }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              alertify.error("Status: " + textStatus); alertify.error("Error: " + errorThrown);
            },
            cache: false,
            contentType: false,
            processData: false
        });
          event.preventDefault();
        });

        $('#form-edit-project').submit(function(event) {
            var id = Session.get("id")
            var url = '/admin/edit_projects/'+id;
            var formData = new FormData($(this)[0]);
             $.ajax({
               type 		: 'POST',
               url 		: url,
               data 		: formData,
               async: false,
               success: function (data) {
                 if(data.status == 1){
                   alertify.success('project edited successfully')
                   window.location.replace('{{ url_for('main.projects') }}');
                 }else
                 {
                   var responsedata=data.data;
                      for (var data in responsedata) {
                        if (responsedata.hasOwnProperty(data)) {
                            $('#'+data).after('<span style="color:red">'+responsedata[data]+'</span>');
                          }
                        }
                 }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              alertify.error("Status: " + textStatus); alertify.error("Error: " + errorThrown);
            },
            cache: false,
            contentType: false,
            processData: false
        });
          event.preventDefault();
        });

        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken)
              }
          }
      })
    });

    function edit_projects(id) {
      $.ajax({
              type 		: 'GET',
              url 		: '/admin/edit_projects/'+id,
              dataType 	: 'json',
              encode 		: true
            }).done(function(response) {
                if(response['status'] == 1){
                $('input[name="project_name"]').val(response.data.project_name)
                $('input[name="project_client"]').val(response.data.project_name)
                $('input[name="project_start_date"]').val(moment( response.data.project_start_date).format('L'));
                $('input[name="project_end_date"]').val(moment( response.data.project_end_date).format('L'));
                $("textarea").val(response.data.project_description)
                Session.set('id',response.data.id)
             }
      }).fail(function() {
        alertify.error('Error: Could not contact server.');
      });

  }
</script>
{% endblock %}
