{% extends "admin/base.html" %}
{% block content %}
    <div class="content container-fluid">
<div class="row">
<div class="col-sm-4 col-xs-3">
  <h4 class="page-title">Features</h4>
</div>
</div>

<div class="row">
<div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-striped custom-table datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Company</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>View more</th>
          <th>Edit</th>
          <th class="text-right">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="client-profile.html" class="avatar">G</a>
            <h2><a href="client-profile.html">Mason 1</a></h2>
          </td>
          <td>ms-001</td>
          <td>Barry Cuda</td>
          <td>barrycuda@example.com</td>
          <td>9876543210</td>
          <td>9876543210</td>
          <td class="text-right">
            <div class="dropdown">
              <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
              <ul class="dropdown-menu pull-right">
                <li><a href="{{ url_for('main.edit_labour') }}"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                <li><a href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
    </div>
  </div>
{% endblock %}
