{% extends "admin/base.html" %}
{% block content %}
<div class="content container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h4 class="page-title">Edit password</h4>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="alert" class="form-group">

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form  method="post" action="" novalidate>
            {{ form.hidden_tag() }}
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Current password <span class="text-danger">*</span></label>
                  {{ form.oldpassword(class="form-control") }}
                  {% for error in form.oldpassword.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>New password <span class="text-danger">*</span></label>
                  {{ form.password(class="form-control") }}
                  {% for error in form.password.errors %}
                  <span class="invalid-feedback" role="alert">
                    {{ error }}
                  </span>
                  {% endfor %}
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>confirm password <span class="text-danger">*</span></label>
                  {{ form.password2(class="form-control") }}
                  {% for error in form.password2.errors %}
                  <span class="invalid-feedback" role="alert">
                    {{ error }}
                  </span>
                  {% endfor %}
                </div>
              </div>
            </div>
              </div>
            </div>
            {{ form.submit(class="btn btn-primary") }}
          </form>
        </div>
{% endblock %}
