{% extends "admin/base.html" %}
{% block content %}
<div class="content container-fluid">
<div class="row">
 <div class="col-sm-8">
   <h4 class="page-title">Tenants</h4>
 </div>
 <div class="col-sm-4 text-right m-b-30">
   {% if current_user.role.permissions.create_property == True %}<a href="{{ url_for('main.add_tenant') }}" class="btn btn-primary rounded"><i class="fa fa-plus"></i>Add Tenant</a>{% endif %}
 </div>
</div>
<div class="row">
 <div class="col-md-12">
   <div class="table-responsive" id="alert">
     <table id="newtab" class="table table-striped custom-table datatable">
       <thead>
         <tr>
           <th>name</th>
           <th>House</th>
           <th>House No</th>
           <th>Phone Number</th>
           <th>Gender</th>
           <th>Rent due</th>
           <th class="text-right">Action</th>
         </tr>
       </thead>
       <tbody id="tab">
         {% for tenant in tenants %}

         <tr id="del{{ tenant.id }}">
           <td>
             <a href="#" class="avatar" data-toggle="modal" data-target="#view_tenant{{tenant.id}}">{{ tenant.first_name.split()[0][0] }}</a>
             <h2><a href="#" data-toggle="modal" data-target="#view_tenant{{tenant.id}}">{{ tenant.first_name }} {{ tenant.last_name }}</a></h2>
           <td>{{ tenant.house.property_name }}</td>
           <td>{{ tenant.house_no }}</td>
           <td>{{ tenant.phone_number }}</td>
           <td>{{ tenant.gender }}</td>
           <td>
             {% if tenant.rent_due > 0 %}
              <span class="label label-danger-border">{{tenant.rent_due}}</span>
             {% elif tenant.rent_due == 0 %}
              <span class="label label-success-border">paid</span>
             {%else%}
              <span class="label label-success-border">{{tenant.rent_due}}</span>
            {% endif %}
           </td>
           <td class="text-right">
             <div class="dropdown">
               <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
               <ul class="dropdown-menu pull-right">
                 {% if current_user.role.permissions.write_property == True %}<li><a href="{{ url_for('main.edit_tenant', id=tenant.id) }}"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>{% endif %}
                 {% if current_user.role.permissions.read_property == True %}<li><a href="#" data-toggle="modal" data-target="#view_tenant{{tenant.id}}"><i class="fa fa-eye m-r-5"></i> View</a></li>{% endif %}
                 {% if current_user.role.permissions.delete_property == True %}<li><a href="#" onclick="delete_row('{{ tenant.id }}','Tenant', '#del{{ tenant.id }}')"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>{% endif %}
               </ul>
             </div>
           </td>
         </tr>
         <div id="view_tenant{{tenant.id}}" class="modal custom-modal fade" role="dialog">
           <div class="modal-dialog">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <div class="modal-content modal-lg">
               <div class="modal-body">
                     <div class="row">
                       <div class="col-sm-8">
                         <h4 class="page-title">Profile</h4>
                       </div>
                     </div>
                     <div class="card-box">
                       <div class="row">
                         <div class="col-md-12">
                           <div class="profile-view">
                             <div class="profile-img-wrap">
                               <div id="imagee" class="profile-img">
                                 <a href="#"><img class="avatar" src="{% if tenant.image %}{{url_for('static', filename='uploads/{}'.format(tenant.image))}}{% else %}{{url_for('static', filename='img/user.jpg')}}{% endif %}" alt=""></a>
                               </div>
                             </div>
                             <div class="profile-basic">
                               <div class="row">
                                 <div class="col-md-5">
                                   <div class="profile-info-left">
                                     <h3 class="user-name m-t-0 m-b-0" id="first_name">{{ tenant.first_name }} {{ tenant.last_name }}</h3>
                                     <small id="county" class="text-muted">{{ tenant.county }}</small>
                                     <div id="town" class="staff-id">{{ tenant.town }}</div>
                                   </div>
                                 </div>
                                 <div class="col-md-7">
                                   <ul class="personal-info">
                                     <li>
                                       <span class="title">Phone:</span>
                                       <span class="text" ><a id="phone_number" href="">{{ tenant.phone_number }}</a></span>
                                     </li>
                                     <li>
                                       <span class="title">Email:</span>
                                       <span class="text" ><a id="email" href="">{{ tenant.email }}</a></span>
                                     </li>
                                     <li>
                                       <span class="title">Birthday:</span>
                                       <span class="text" id="dob">{{ tenant.dob }}</span>
                                     </li>
                                     <li>
                                       <span class="title">Gender:</span>
                                       <span class="text" id="gender">{{ tenant.gender }}</span>
                                     </li>
                                     <li>
                                       <span class="title">House</span>
                                       <span class="text" >{{ tenant.house.property_name }}</span>
                                     </li>
                                     <li>
                                       <span class="title">House no</span>
                                       <span class="text" >{{ tenant.house_no }}</span>
                                     </li>
                                   </ul>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
               </div>
             </div>
         </div>
         	{% endfor %}
      </tbody>

     </table>
   </div>
 </div>
</div>
     </div>
{% endblock %}
