{% extends "admin/base.html" %}
{% block content %}
      <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-8">
        <h4 class="page-title">{{ project.project_name }}</h4>
      </div>
      <div class="col-sm-4 text-right m-b-30">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="panel">
          <div class="panel-body">
            <div class="project-title">
              <h5 class="panel-title">{{ project.project_name }}</h5>

            </div>
            <p>{{ project.project_description }}</p>
          </div>
        </div>
        <div class="panel">
          <div class="panel-body">
                      <h5 class="panel-title m-b-20">Uploaded image files</h5>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                  <div class="thumb">
                    <img src="{% if project.project_image %}{{url_for('static', filename='uploads/{}'.format(project.project_image))}}{% else %}{{url_for('static', filename='img/placeholder.png')}}{% endif %}" class="img-responsive" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel">
          <div class="panel-body">
            <h6 class="panel-title m-b-15">Project details</h6>
            <table class="table table-striped table-border">
              <tbody>
                <tr>
                  <td>Client:</td>
                  <td class="text-right">{{ project.project_client }}</td>
                </tr>
                <tr>
                  <td>Created:</td>
                  <td class="text-right">{{ moment(project.project_start_date).format("MMM Do YYYY") }}</td>
                </tr>
                <tr>
                  <td>Deadline:</td>
                  <td class="text-right">{{ moment(project.project_end_date).format("MMM Do YYYY") }}</td>
                </tr>
          </div>
        </div>
      </div>
    </div>
          </div>
{% endblock %}
