{% extends "admin/base.html" %}
{% block content %}
<div class="content container-fluid">

  <div class="row">
    <div class="col-sm-4 col-xs-3">
      <h4 class="page-title">Labour</h4>
    </div>
    <div class="col-sm-8 col-xs-9 text-right m-b-20">
      {% if current_user.role.permissions.create_labour== True %}
      <a href="{{ url_for('main.add_labour', labour_type_name=category) }}" class="btn btn-primary rounded pull-right"><i class="fa fa-plus"></i> Add {{ category }} </a>
      {% endif %}
    </div>
  </div>
  {% if labourlist %}
  {% if g.search_form %}
  <div class="row">
      <form class="navbar-form navbar-right" method="get" action="{{ url_for('main.search') }}">
          <div class="form-group">
              {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
              {{ g.search_form.table() }}
          </div>
      </form>
    </div>
      {% endif %}
  <div class="row staff-grid-row">
    <div class="row staff-grid-row">
      {% for labour in labourlist %}
      <div id="del{{labour.id}}" class="col-md-4 col-sm-4 col-xs-6 col-lg-3">
        <div class="profile-widget">

          <img src="{% if labour.image %}{{url_for('static', filename='uploads/{}'.format(labour.image))}}{% else %}{{url_for('static', filename='img/placeholder.png')}}{% endif %} " width="200" height="150" alt="">
          <div class="dropdown profile-action">
            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <ul class="dropdown-menu pull-right">
              {% if current_user.role.permissions.write_labour == True %}
              <li><a href="{{ url_for('main.edit_labour',id=labour.id) }}"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
              {% endif %}
              {% if current_user.role.permissions.delete_labour == True %}
              <li><a href="#" onclick="delete_row('{{ labour.id }}','Labour', '#del{{ labour.id }}')" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
              {% endif %}
            </ul>
          </div>
          <h4 class="user-name m-t-10 m-b-0 text-ellipsis">{{ labour.first_name }} {{ labour.last_name }}</h4>
          <p class="text-muted">{{ category }}</p>
          {% if current_user.role.permissions.read_labour == True %}
          <a href="#" onclick="view('{{ labour.id }}')"  data-toggle="modal" data-target="#view_labour" class="btn btn-default btn-sm m-t-10">View</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
  <nav aria-label="...">
     <ul class="pager">
         <li class="previous{% if not prev_url %} disabled{% endif %}">
             <a href="{{ prev_url or '#' }}">
                 <span aria-hidden="true">&larr;</span> {{ _('Previous Page') }}
             </a>
         </li>
         <li class="next{% if not next_url %} disabled{% endif %}">
             <a href="{{ next_url or '#' }}">
                 {{ _('Next Page') }} <span aria-hidden="true">&rarr;</span>
             </a>
         </li>
     </ul>
 </nav>
</div>
  {% else %}
   <div class="alert alert-warning" role="alert">
       No labour found!!
   </div>
   {% endif %}
</div>
<div id="view_labour" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg">
      <div class="modal-body">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="page-title">Profile</h4>
              </div>
            </div>
            <div class="card-box">
              <div class="row">
                <div class="col-md-12">
                  <div class="profile-view">
                    <div class="profile-img-wrap">
                      <div id="imagee" class="profile-img">
                        <a href="#"><img class="avatar" src="{{url_for('static', filename='img/user.jpg')}}" alt=""></a>
                      </div>
                    </div>
                    <div class="profile-basic">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="profile-info-left">
                            <h3 class="user-name m-t-0 m-b-0" id="first_name"></h3>
                            <small id="county" class="text-muted"></small>
                            <div id="town" class="staff-id"></div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <ul class="personal-info">
                            <li>
                              <span class="title">Phone:</span>
                              <span class="text" ><a id="phone_number" href=""></a></span>
                            </li>
                            <li>
                              <span class="title">Email:</span>
                              <span class="text" ><a id="email" href=""></a></span>
                            </li>
                            <li>
                              <span class="title">Birthday:</span>
                              <span class="text" id="dob"></span>
                            </li>
                            <li>
                              <span class="title">Gender:</span>
                              <span class="text" id="gender"></span>
                            </li>
                            <li>
                              <span class="title">&nbsp;</span>
                              <span class="text" >&nbsp;</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function view(id) {
  var id=(id);
  $.ajax('{{ url_for('main.getlabour') }}?id=' + id).done(
      function(response) {
        var responsedata=response.data;
        if(responsedata.image != '')
          $('#imagee').html('<img src="/static/uploads/'+responsedata.image+'" alt="">');
        responsedata.first_name = responsedata.first_name +' '+ responsedata.last_name
        for (var data in responsedata) {
          if (responsedata.hasOwnProperty(data)) {
              $('#'+data).html(responsedata[data])
            }
          }
      }
  );
}
</script>
{% endblock %}
