{% extends "admin/base.html" %}
{% block content %}
<div class="content container-fluid">

    <div class="row">
        <div class="col-sm-4 col-xs-3">
            <h4 class="page-title">Properties</h4>
        </div>
        <div class="col-sm-8 col-xs-9 text-right m-b-20">
          {% if current_user.role.permissions.create_property == True %}
            <a href="{{ url_for('main.add_property', property_type_id=category) }}"
               class="btn btn-primary rounded pull-right"><i class="fa fa-plus"></i> Add Property</a>
               {% endif %}
        </div>
    </div>
    {% if propertylist %}
    {% if g.search_form %}
    <div class="row">
        <form class="navbar-form navbar-right" method="get" action="{{ url_for('main.search') }}">
            <div class="form-group">
                {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                {{ g.search_form.table() }}
            </div>
        </form>
      </div>
        {% endif %}
    <div class="row staff-grid-row">
        <div class="row staff-grid-row">
            {% for property in propertylist %}
            <div id="del{{property.id}}" class="col-md-4 col-sm-4 col-xs-6 col-lg-3">
                <div class="profile-widget">

                    <img src="{% if property.property_image %}{{url_for('static', filename='uploads/{}'.format(property.property_image))}}{% else %}{{url_for('static', filename='img/placeholder.png')}}{% endif %} "
                         width="200" height="150" alt="">
                    <div class="dropdown profile-action">

                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                class="fa fa-ellipsis-v"></i></a>
                        <ul class="dropdown-menu pull-right">
                          {% if current_user.role.permissions.write_property == True %}
                            <li><a href="{{ url_for('main.edit_property',id=property.id) }}"><i
                                    class="fa fa-pencil m-r-5"></i> Edit</a></li>
                          {% endif %}
                          {% if current_user.role.permissions.delete_property == True %}
                            <li><a href="#" onclick="delete_row('{{ property.id }}','Property', '#del{{ property.id }}')" data-toggle="modal" data-target="#delete_client"><i
                                    class="fa fa-trash-o m-r-5"></i> Delete</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a
                            href="{{ url_for('main.view_individual_property', id=property.id) }}">{{ property.property_name }}</a>
                    </h4>
                    <span class="text-muted">for {{ property.property_mode }}</span><br>
                    <a href="{{ url_for('main.view_individual_property', id=property.id) }}" class="btn btn-default btn-sm m-t-10">View</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
    <nav aria-label="...">
       <ul class="pager">
           <li class="previous{% if not prev_url %} disabled{% endif %}">
               <a href="{{ prev_url or '#' }}">
                   <span aria-hidden="true">&larr;</span> {{ _('Previous Page') }}
               </a>
           </li>
           <li class="next{% if not next_url %} disabled{% endif %}">
               <a href="{{ next_url or '#' }}">
                   {{ _('Next Page') }} <span aria-hidden="true">&rarr;</span>
               </a>
           </li>
       </ul>
   </nav>
 </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        No properties found!!
    </div>
    {% endif %}
</div>
{% endblock %}
