{% extends "admin/base.html" %}
{% block content %}
      <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-8">
        <h4 class="page-title">{{ financing.financing_name }}</h4>
      </div>
      <div class="col-sm-4 text-right m-b-30">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel">
          <div class="panel-body">
            <div class="project-title">
              <h5 class="panel-title">{{ financing.financing_name }}</h5>
            </div>
            <p>{{ financing.financing_name }}</p>
          </div>
        </div>
      </div>
    </div>
          </div>
{% endblock %}
