{% extends "admin/base.html" %}
{% block content %}
<div class="content container-fluid">

  <div class="row">
    <div class="col-sm-4 col-xs-3">
      <h4 class="page-title">Equipment</h4>
    </div>
    <div class="col-sm-8 col-xs-9 text-right m-b-20">
      {% if current_user.role.permissions.create_equipment == True %}
      <a href="{{ url_for('main.add_equipment', equipment_type_name=category) }}" class="btn btn-primary rounded pull-right"><i class="fa fa-plus"></i> Add {{ category }} </a>
      {% endif %}
    </div>
  </div>
  {% if equipmentlist %}
  {% if g.search_form %}
  <div class="row">
      <form class="navbar-form navbar-right" method="get" action="{{ url_for('main.search') }}">
          <div class="form-group">
              {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
              {{ g.search_form.table() }}
          </div>
      </form>
    </div>
      {% endif %}
  <div class="row staff-grid-row">
    <div class="row staff-grid-row">
      {% for equipment in equipmentlist %}
      <div class="col-md-4 col-sm-4 col-xs-6 col-lg-3">
        <div class="profile-widget">

          <img src="{% if equipment.equipment_image %}{{url_for('static', filename='uploads/{}'.format(equipment.equipment_image))}}{% else %}{{url_for('static', filename='img/placeholder.png')}}{% endif %} " width="200" height="150" alt="">
          <div class="dropdown profile-action">
            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <ul class="dropdown-menu pull-right">
              {% if current_user.role.permissions.write_equipment == True %}
              <li><a href="{{ url_for('main.edit_equipment',id=equipment.id) }}"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
              {% endif %}
              {% if current_user.role.permissions.delete_equipment == True %}
              <li><a href="#" onclick="delete_row('{{ equipment.id }}','Equipment', '#del{{ equipment.id }}')" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
              {% endif %}
            </ul>
          </div>
          <h4 class="user-name m-t-10 m-b-0 text-ellipsis">{{ equipment.equipment_name }}</h4>
          <a href="#" onclick="view('{{ equipment.id }}')"  data-toggle="modal" data-target="#view_equipment" class="btn btn-default btn-sm m-t-10">View</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
  <nav aria-label="...">
     <ul class="pager">
         <li class="previous{% if not prev_url %} disabled{% endif %}">
             <a href="{{ prev_url or '#' }}">
                 <span aria-hidden="true">&larr;</span> {{ _('Previous Page') }}
             </a>
         </li>
         <li class="next{% if not next_url %} disabled{% endif %}">
             <a href="{{ next_url or '#' }}">
                 {{ _('Next Page') }} <span aria-hidden="true">&rarr;</span>
             </a>
         </li>
     </ul>
  </nav>
  </div>
  {% else %}
   <div class="alert alert-warning" role="alert">
       No equipment found!!
   </div>
   {% endif %}
</div>
<div id="view_equipment" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg">
      <div class="modal-body">
        <div class="row">
          <div class="panel">
          <div class="panel-body">
            <div class="project-title" style="margin-left:10px">
              <h5 class="panel-title" id="add_title">Park Avenue</h5>
            </div>
          <div class="col-lg-8">
                <div class="task-attach-img" id="add_image">
                  <img src="{{url_for('static', filename='img/placeholder.png')}}" alt="">
              </div>
          </div>
          <div class="col-lg-4">
            <div class="project-title" style="margin-left:10px">
              <h5 class="panel-title">Features</h5>
            </div>
                <table class="table table-striped table-border">
                  <tbody>
                    <tr>
                      <td>Name:</td>
                      <td class="text-right"  id="name">$1200</td>
                    </tr>
                    <tr>
                      <td>Price:</td>
                      <td class="text-right"  id="price">100 Hours</td>
                    </tr>
                    <tr>
                      <td>Location</td>
                      <td class="text-right"  id="location">25 Feb, 2017</td>
                    </tr>
                  </tbody>
                </table>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function view(id) {
  var id=(id);
  $.ajax('{{ url_for('main.getequipment') }}?id=' + id).done(
      function(response) {
        var response=response.data;
        console.log(response)
        $('#add_title').html(response.name);
        if(response.image != '')
          $('#add_image').html('<img src="/static/uploads/'+response.image+'" alt="">');
        $('#name').html(response.name);
        $('#price').html('KES '+response.price);
        $('#location').html(response.location);
      }
  );
}
</script>
{% endblock %}
