<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li {%- if request.path== url_for(
                'main.index') %} class="active"{% endif %} >
                <a href="{{ url_for('main.index') }}">Dashboard</a>
                </li>
                {% if current_user.role.access_property == True %}
                <li class="submenu">
                    <a href="#"><span> Property management</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        {% if current_user.role.permissions.create_property == True %}
                        <li><a {%- if request.path== url_for('main.add_property_type') %} class="active"{% endif %}
                            href="{{ url_for('main.add_property_type') }}">Add property type</a></li>
                            {% endif %}
                            {% if current_user.role.permissions.read_property == True %}
                            <li><a {%- if request.path== url_for('main.view_property_type') %} class="active"{% endif %} href="{{
                            url_for('main.view_property_type') }}">View Property Type</a></li>
                            {% endif %}
                            {% if current_user.role.permissions.read_property == True %}
                            <li><a {%- if request.path== url_for('main.tenants') %} class="active"{% endif %} href="{{
                            url_for('main.tenants') }}">Tenants</a></li>
                            {% endif %}
                            <li><a {%- if request.path== url_for('main.payments') %} class="active"{% endif %} href="{{
                            url_for('main.payments') }}">Payments</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if current_user.role.access_labour == True %}
                <li class="submenu">
                    <a href="#"><span> Labour</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                      {% if current_user.role.permissions.create_labour == True %}
                        <li><a {%- if request.path== url_for('main.add_labour_type') %} class="active"{% endif %}
                            href="{{ url_for('main.add_labour_type') }}">Add labour type</a></li>
                            {% endif %}
                            {% if current_user.role.permissions.read_labour == True %}
                        <li><a {%- if request.path== url_for('main.view_labour_type') %} class="active"{% endif %} href="{{
                            url_for('main.view_labour_type') }}">View Labour Type</a></li>
                            {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% if current_user.role.access_equipment %}
                <li class="submenu">
                    <a href="#"><span> Equipment</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                      {% if current_user.role.permissions.create_equipment == True %}
                        <li><a {%- if request.path== url_for('main.add_equipment_type') %} class="active"{% endif %}
                            href="{{ url_for('main.add_equipment_type') }}">Add equipment type</a></li>
                        {% endif %}
                        {% if current_user.role.permissions.read_equipment == True %}
                        <li><a {%- if request.path== url_for('main.view_equipment_type') %} class="active"{% endif %} href="{{
                            url_for('main.view_equipment_type') }}">View Equipment Type</a></li>
                            {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% if current_user.role.access_construction %}
                <li class="submenu">
                    <a href="#"><span> Constructon Materials</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                      {% if current_user.role.permissions.create_construction == True %}
                        <li><a {%- if request.path== url_for('main.add_construction_materials_type') %} class="active"{%
                            endif %} href="{{ url_for('main.add_construction_materials_type') }}">Add construction
                            type</a></li>
                            {% endif %}
                            {% if current_user.role.permissions.read_construction == True %}
                        <li><a {%- if request.path== url_for('main.view_construction_materials_type') %} class="active"{% endif %}
                            href="{{ url_for('main.view_construction_materials_type') }}">Construction materials type</a></li>
                            {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% if current_user.role.access_consultancy %}
                <li class="submenu">
                    <a href="#"><span> Consultancy Services</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                      {% if current_user.role.permissions.create_consultancy == True %}
                        <li><a {%- if request.path== url_for('main.add_consultancy_services_type') %} class="active"{%
                            endif %} href="{{ url_for('main.add_consultancy_services_type') }}">Add consultancy type</a>
                        </li>
                        {% endif %}
                        {% if current_user.role.permissions.read_consultancy == True %}
                        <li><a {%- if request.path== url_for('main.view_consultancy_services_type') %} class="active"{% endif %}
                            href="{{ url_for('main.view_consultancy_services_type') }}">View consultancy type</a></li>
                            {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% if current_user.role.access_house_design %}
                <li class="submenu">
                    <a href="#"><span> Latest House Designs</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                      {% if current_user.role.permissions.create_house_design == True %}
                        <li><a {%- if request.path== url_for('main.add_latest_house_designs_type') %} class="active"{%
                            endif %} href="{{ url_for('main.add_latest_house_designs_type') }}">Add designs type</a>
                        </li>
                        {% endif %}
                        {% if current_user.role.permissions.read_house_design == True %}
                        <li><a {%- if request.path== url_for('main.view_latest_house_designs_type') %} class="active"{% endif %}
                            href="{{ url_for('main.view_latest_house_designs_type') }}">View Designs type</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% if current_user.role.access_financing == True %}
                <li {%- if request.path== url_for(
                'main.financing') %} class="active"{% endif %} >
                <a href="{{ url_for('main.financing') }}">Financing</a>
                </li>
                {% endif %}
                {% if current_user.role.access_projects == True %}
                <li {%- if request.path== url_for(
                'main.projects') %} class="active"{% endif %} >
                <a href="{{ url_for('main.projects') }}">Projects</a>
                </li>
                {% endif %}
                <li {%- if request.path == url_for('main.settings')  %} class="active"{% endif %}>
                <a href="{{ url_for('main.settings') }}">Settings</a>
              </li>
                {% if current_user.role.access_user == True %}
              <li class="submenu">
                  <a href="#"><span> Admin </span> <span class="menu-arrow"></span></a>
                  <ul class="list-unstyled" style="display: none;">
                    <li><a {%- if request.path ==  url_for('main.users') %} class="active"{% endif %} href="{{ url_for('main.users') }}">Users</a></li>
                    {% if current_user.role.permissions.read_user == True %}
                    <li><a {%- if request.path ==  url_for('main.role_permissions') %} class="active"{% endif %} href="{{ url_for('main.role_permissions') }}">Role & Permission </a></li>
                    {% endif %}
                    {% if current_user.role.permissions.read_user == True %}
                    <li><a {%- if request.path ==  url_for('main.company_settings') %} class="active"{% endif %} href="{{ url_for('main.company_settings') }}">Company settings </a></li>
                    {% endif %}
                    {% if current_user.role.permissions.read_user == True %}
                    <li><a {%- if request.path ==  url_for('main.theme_settings') %} class="active"{% endif %} href="{{ url_for('main.theme_settings') }}">Theme settings </a></li>
                    {% endif %}
                  </ul>
              </li>
              {% endif %}
            </ul>
        </div>
    </div>
</div>
